.app {
  background-color: rgb(232, 234, 237);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
.MuiContainer-root {
  min-width: 100%;
  min-height: 100%;
}

.MuiGrid-root {
  min-width: 100%;
  min-height: 100%;
  padding-top: 5%;
}