.input{
    height: 15%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: 'relative';
}

.MuiGrid-root {
    border-radius: 12px;
}

.MuiFormControl-root {
    margin: 10;
    font-size: 200;
    position: 'absolute';
    bottom: 0;
}

.MuiInputLabel-root {
    font-size: large;
}