.todoItem{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 6px 4px;
    height: 10%;
    border-radius: 12px;
    font-size: 2rem;
}

.todoItem>p{
    flex: 1;
}

.todoItem--done {
    text-decoration: line-through;
}