.todoItem{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 3%;
}

.todoItem>p{
    width: 60%;
    padding: 2%;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1.5rem;
    text-align: left;
}

.todoItem--done {
    text-decoration: line-through;
}
